def start: [$IN::readline ...] -> \[i](when <='S'> do { x: ($i)"x" } ! \) ...;

def splitters: [$IN::lines -> {| [$...] -> \[i](when <='^'> do { x: ($i)"x" } ! \)... |}];

source part1
  @: {splits: 0"1", beams: {| $start |}};
  $splitters ... -> #
  $@(splits:) !

  otherwise
    def splits: ($ matching $@(beams:));
    @(splits:): $@(splits:) + ($splits::count)"1";
    def new-beams: ($splits({x: §(x:) - 1"x"}) union $splits({x: §(x:) + 1"x"}));
    @(beams:): (($@(beams:) minus $splits) union $new-beams);
end part1

$part1 -> !OUT::write
'
' -> !OUT::write

source part2
  @: [ $start({x:, timelines: 1"1"}) ];
  $splitters ... -> #
  $@... -> ..=Sum&{of: :(timelines:)} !

  otherwise
    def splitter-line: $;
    def splits: [$@... -> ({|$|} matching $splitter-line)...];
    @: [$@... -> ({|$|} notMatching $splitter-line)...,
      $splits... -> {$, x: $(x:) - 1"x"},
      $splits... -> {$, x: $(x:) + 1"x"}]
      -> $(collect {timelines: Sum&{of: :(timelines:)}} by $({x:}));
end part2

$part2 -> !OUT::write
'
' -> !OUT::write
